*/target
*/tomcat
*.iml
.idea/
*.class
target/
tomcat/
.project
.settings/
.classpath
src/main/resources/META-INF
.DS_Store
logs/*
.idea/*
application-local.properties
rebel.xml
LOG_DIR_IS_UNDEFINED
index/*
lora.json
ptuning.json
lora
applogs
__pycache__
answers.json
answers.jsonl
answers_back.json
keys.pkl
data.pkl
make_dataset_schedule.d
config.json
venv/
.env
temp/
.ipynb_checkpoints
/modules/*
cert_cache/*